# Ignore These:
.mixin.out/
config/
crash-reports/
defaultconfigs/
downloads/
emojiful/
essential/
logs/
profileImage/
saves/
screenshots/
shaderpacks/
xaero/
XaeroWaypoints_BACKUP240807/
.curseclient
minecraftinstance.json
ops.json
options.txt
servers.dat
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json
whitelist.json
