# Ignore These:
.curseclient
logs/
config/
emojiful/
essential/
xaero/
XaeroWaypoints_BACKUP240807/
minecraftinstance.json
options.txt
servers.dat
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json
