# Ignore These:
.mixin.out/
config/
defaultconfigs/
downloads/
emojiful/
essential/
logs/
saves/
screenshots/
xaero/
XaeroWaypoints_BACKUP240807/
.curseclient
minecraftinstance.json
options.txt
servers.dat
servers.dat_old
servers.essential.dat
usercache.json
usernamecache.json
